<header></header>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 align="center">Change Password</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <form name="passwordForm" ng-submit="changePassword(passwordForm);" novalidate>
                <div class="form-group" ng-class="{'has-error': passwordForm.currentPassword.$invalid  && passwordForm.currentPassword.$dirty || passwordForm.$submitted && passwordForm.currentPassword.$error.required}">
                    <label for="currentPassword">Current Password</label>
                    <input type="password" class="form-control" id="currentPassword" placeholder="Current Password" name="currentPassword" required>
                    <p class="error-msg" ng-show="passwordForm.$submitted && passwordForm.currentPassword.$error.required">Current Password is Required</p>
                </div>

                <div class="form-group" ng-class="{'has-error': passwordForm.newPassword.$invalid  && passwordForm.newPassword.$dirty || passwordForm.$submitted && passwordForm.newPassword.$error.required}">
                    <label for="password">New Password</label>
                    <input type="password" class="form-control" id="password" placeholder="New Password" name="newPassword" required>
                    <p class="error-msg" ng-show="passwordForm.$submitted && passwordForm.newPassword.$error.required">New Password is Required</p>
                </div>

                <div class="form-group">
                    <label for="cPassword">Confirm Password</label>
                    <input type="password" class="form-control" id="cpassword" name ="cPassword" placeholder="Confirm Password" required >
                </div>
                <button type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg">Change Password</button>
            </form>
        </div>
    </div>
</div>