<hr>
<h2>Edit User</h2>
<form class = "form-horizontal"  name="frmUserAccount"  novalidate>
    <div class="form-group">
        <div class = "col-sm-5">
            <label for="userName">User Name</label>
            <input type="text" class="form-control" name="userName" placeholder="User Name" required>
        </div>

        <div class = "col-sm-5">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>

        <div class = "col-sm-2"></div>
        <div class = "col-sm-5">
            <label for="cPassword">Confirm Password</label>
            <input type="password" class="form-control" name="cPassword" placeholder="Confirm Password" required>
        </div>

        <div class = "col-sm-5">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email"  placeholder="abc@xyz.com" required>
        </div>

        <div class = "col-sm-2"></div>
        <div class = "col-sm-5">
            <label for="address">Address</label>
            <input type="text" class="form-control" name="address" placeholder="Address">
        </div>

        <div class="button-container">
            <div class="text-right">
                <button type="submit" name="btnAddUser" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</form>

